{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Библиотека "Знание"{% endblock %}</title>
</head>
<body>
    <header>
        <h1> Библиотека "Знание"</h1>
        <nav>
          {% if request.user.is_authenticated %}
            Привет, {{ request.user.username }} |
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" style="background: none; border: none; color: #ecf0f1; cursor: pointer; text-decoration: underline;">Выйти</button>
            </form>
          {% else %}
            <a href="{% url 'login' %}">Вход</a> |
            <a href="{% url 'signup' %}">Регистрация</a>
          {% endif %}
          <a href="{% url 'home' %}">Главная</a> |
          <a href="{% url 'book_list' %}">Каталог</a> |
          <a href="{% url 'about' %}">О библиотеке</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Информационная система библиотеки. Авторы: Белякова Полина | Романова Виктория, Группа Д-Э311</p>
    </footer>
</body>
</html>