<div class="card mb-3">
    <div class="card-header"> Новинки</div>
    <ul class="list-group list-group-flush">
        {% for book in latest_books %}
        <li class="list-group-item">
            {% if book.slug %}
                <a href="{{ book.get_absolute_url }}" class="text-decoration-none">
                    {{ book.title }}
                </a>
            {% else %}
                <span class="text-muted">{{ book.title }}</span>
            {% endif %}
        </li>
        {% empty %}
        <li class="list-group-item">Книг пока нет</li>
        {% endfor %}
    </ul>
</div>